.contacto__form>div.form-floating>textarea.form-control {
    height: 8rem !important;
}

.contacto__form>div.form-floating>label.form-label {
    color: var(--color-secundario);
}

.contacto__intro,
.contacto__form {
    max-width: 600px;
}

.contacto__form>div:last-child>button {
    --bs-btn-color: var(--color-blanco);
    --bs-btn-bg: var(--color-primario);
    --bs-btn-border-color: var(--color-primario);
    --bs-btn-hover-color: var(--color-terciario);
    --bs-btn-hover-bg: var(--color-secundario);
    --bs-btn-hover-border-color: var(--color-secundario);
}