@use "../base/variables" as variable;
@use "../utilities/mixin";
@use "../utilities/extend";
@use "sass:map";

main {
    section {
        div {
            div {
                &.contacto__intro {
                    max-width: 600px;
                }

            }
        }

        div {
            form {
                &.contacto__form {
                    max-width: 600px;

                    div {
                        &.form-floating {
                            label {
                                &.form-label {
                                    color: map.get(variable.$colores, secundario);
                                }
                            }

                            textarea {
                                &.form-control {
                                    @include mixin.size(null, 8rem !important);
                                }
                            }
                        }

                        &:last-child {
                            button {
                                &.button_primary {
                                    @extend %button_base;
                                    --bs-btn-bg: #{map.get(variable.$colores, primario)};
                                    --bs-btn-border-color: #{map.get(variable.$colores, primario)};
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}