@use "../base/variables" as variable;
@use "../utilities/mixin";
@use "sass:map";

main {
    section {
        div {
            div {
                div {
                    img {
                        &.inicio__banner {
                            @include mixin.size(null, 300px);
                            object-fit: cover;
                        }
                    }

                    div {
                        &.inicio__banner-caption {
                            background-color: map.get(variable.$colores, negro-semistransparente);
                            right: 0;
                            left: 0;
                            bottom: 0;
                            padding-bottom: 2.5rem;
                        }

                        span {
                            &:nth-child(1) {
                                display: block;
                                font-weight: bold;
                                font-size: 1.25rem;
                            }

                            &:nth-child(2) {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            // inicio - sección nosotros
            &.inicio__container-nosotros {
                span {
                    font-size: 1rem;
                }
            }

            // inicio - sección servicios
            &.inicio__container-servicio-cards {
                gap: 20px;

                a {
                    text-decoration: none;
                    display: block;
                    @include mixin.size(100%, null);

                    article {
                        background-color: map.get(variable.$colores, primario-semitransparente);
                        color: map.get(variable.$colores, blanco);
                        box-shadow: 0 2px 6px map.get(variable.$colores, negro-semistransparente-suave);
                        overflow: hidden;
                        @include mixin.size(100%, 100%);

                        &:hover {
                            box-shadow: 0 6px 12px map.get(variable.$colores, negro-semistransparente);
                        }

                        &:hover {
                            div {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }

                        div {
                            &:nth-child(1) {
                                @include mixin.size(100%, 160px);
                                margin: 0;
                                padding: 0;
                                overflow: hidden;

                                img {
                                    @include mixin.size(100%, 160px);
                                    display: block;
                                    object-fit: cover;
                                    transition: transform 0.5s ease, box-shadow 0.2s ease;
                                }
                            }

                            &:nth-child(2) {
                                padding: 0.75rem 1rem;
                                color: map.get(variable.$colores, blanco);

                                span {
                                    &:nth-child(1) {
                                        display: block;
                                        font-weight: bold;
                                        font-size: 1.2rem;
                                    }

                                    &:nth-child(2) {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.inicio__logos {
                gap: 25px;

                img {
                    @include mixin.size(150px);
                }
            }

            &.inicio__container-portafolio-cards {
                gap: 20px;

                a {
                    text-decoration: none;
                    display: block;
                    @include mixin.size(100%);

                    article {
                        position: relative;
                        @include mixin.size(100%);
                        overflow: hidden;
                        border-radius: 10px;
                        box-shadow: 0 2px 6px map.get(variable.$colores, negro-semistransparente-suave);

                        &:hover {
                            box-shadow: 0 6px 12px map.get(variable.$colores, negro-semistransparente);
                        }

                        &:hover img {
                            transform: scale(1.1);
                        }

                        img {
                            @include mixin.size(100%, 220px);
                            display: block;
                            object-fit: cover;
                            transition: transform 0.5s ease, box-shadow 0.2s ease;
                        }

                        div {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            @include mixin.size(100%);
                            background: map.get(variable.$colores, negro-semistransparente);
                            color: map.get(variable.$colores, blanco);
                            padding: 15px 20px;

                            span {
                                &:nth-child(1) {
                                    font-size: 1.4rem;
                                    display: block;
                                }

                                &:nth-child(2) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        h3 {
            &.inicio__title {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }
}