@use "../base/variables" as variable;
@use "sass:map";

main {
    section {
        div {
            div {
                div {
                    img {
                        &.inicio__banner {
                            height: 300px;
                            object-fit: cover;
                        }
                    }

                    div {
                        &.inicio__banner-caption {
                            background-color: map.get(variable.$colores, negro-semistransparente);
                            right: 0;
                            left: 0;
                            bottom: 0;
                            padding-bottom: 2.5rem;
                        }

                        span {
                            &:nth-child(1) {
                                display: block;
                                font-weight: bold;
                                font-size: 1.25rem;
                            }

                            &:nth-child(2) {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            /* inicio - secci贸n nosotros */
            &.inicio__container-nosotros {
                span {
                    font-size: 1rem;
                }
            }

            /* inicio - secci贸n servicios */
            &.inicio__container-servicio-cards {
                gap: 20px;

                a {
                    text-decoration: none;
                    display: block;
                    width: 100%;

                    article {
                        background-color: map.get(variable.$colores, primario-semitransparente);
                        color: map.get(variable.$colores, blanco);
                        box-shadow: 0 2px 6px map.get(variable.$colores, negro-semistransparente-suave);
                        transition: transform 0.2s ease, box-shadow 0.2s ease;
                        overflow: hidden;
                        height: 100%;
                        width: 100%;

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: 0 6px 12px map.get(variable.$colores, negro-semistransparente);
                        }

                        img {
                            width: 100%;
                            height: 160px;
                            object-fit: cover;
                        }

                        div {
                            padding: 0.75rem 1rem;
                            color: map.get(variable.$colores, blanco);

                            span {
                                &:nth-child(1) {
                                    display: block;
                                    font-weight: bold;
                                    font-size: 1.2rem;
                                }

                                &:nth-child(2) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }

            &.inicio__logos {
                gap: 25px;

                img {
                    width: 150px;
                }
            }

            &.inicio__container-portafolio-cards {
                gap: 20px;

                a {
                    text-decoration: none;
                    display: block;
                    width: 100%;

                    article {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        border-radius: 10px;
                        box-shadow: 0 2px 6px map.get(variable.$colores, negro-semistransparente-suave);

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: 0 6px 12px map.get(variable.$colores, negro-semistransparente);
                        }

                        img {
                            width: 100%;
                            height: 220px;
                            display: block;
                            object-fit: cover;
                        }

                        div {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            background: map.get(variable.$colores, negro-semistransparente);
                            color: map.get(variable.$colores, blanco);
                            padding: 15px 20px;

                            span {
                                &:nth-child(1) {
                                    font-size: 1.4rem;
                                    display: block;
                                }

                                &:nth-child(2) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        h3 {
            &.inicio__title {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }
}

// .inicio__banner {
//     height: 300px;
//     object-fit: cover;
// }

// .inicio__banner-caption {
//     background-color: map.get(variable.$colores, negro-semistransparente);
//     right: 0;
//     left: 0;
//     bottom: 0;
//     padding-bottom: 2.5rem;
// }

// .inicio__banner-caption>span:nth-child(1) {
//     display: block;
//     font-weight: bold;
//     font-size: 1.25rem;
// }

// .inicio__banner-caption>span:nth-child(2) {
//     font-size: 1rem;
// }

// .inicio__container-servicio-cards {
//     gap: 20px;
// }

/* inicio - secci贸n nosotros */
// .inicio__container-nosotros>span {
//     font-size: 1rem;
// }

/* inicio - secci贸n servicios */
// .inicio__container-servicio-cards>a>article {
//     background-color: map.get(variable.$colores, primario-semitransparente);
//     color: map.get(variable.$colores, blanco);
//     box-shadow: 0 2px 6px map.get(variable.$colores, negro-semistransparente-suave);
//     transition: transform 0.2s ease, box-shadow 0.2s ease;
//     overflow: hidden;
//     height: 100%;
//     width: 100%;
// }

// .inicio__container-servicio-cards>a>article:hover {
//     transform: translateY(-5px);
//     box-shadow: 0 6px 12px map.get(variable.$colores, negro-semistransparente);
// }

// .inicio__container-servicio-cards>a>article>img {
//     width: 100%;
//     height: 160px;
//     object-fit: cover;
// }

// .inicio__container-servicio-cards>a>article>div {
//     padding: 0.75rem 1rem;
//     color: map.get(variable.$colores, blanco);
// }

// .inicio__container-servicio-cards>a>article>div>span:nth-child(1) {
//     display: block;
//     font-weight: bold;
//     font-size: 1.2rem;
// }

// .inicio__title {
//     font-size: 1.25rem;
//     font-weight: bold;
// }

// .inicio__logos {
//     gap: 25px;
// }

// .inicio__logos>img {
//     width: 150px;
// }

// .inicio__container-portafolio-cards {
//     gap: 20px;
// }

// .inicio__container-servicio-cards>a,
// .inicio__container-portafolio-cards>a {
//     text-decoration: none;
//     display: block;
//     width: 100%;
// }

// .inicio__container-portafolio-cards>a>article {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//     border-radius: 10px;
//     box-shadow: 0 2px 6px map.get(variable.$colores, negro-semistransparente-suave);
// }

// .inicio__container-portafolio-cards>a>article:hover {
//     transform: translateY(-5px);
//     box-shadow: 0 6px 12px map.get(variable.$colores, negro-semistransparente);
// }

// .inicio__container-portafolio-cards>a>article>img {
//     width: 100%;
//     height: 220px;
//     display: block;
//     object-fit: cover;
// }

// .inicio__container-portafolio-cards>a>article>div {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     background: map.get(variable.$colores, negro-semistransparente);
//     color: map.get(variable.$colores, blanco);
//     padding: 15px 20px;
// }

// .inicio__container-portafolio-cards>a>article>div>span:nth-child(1) {
//     font-size: 1.4rem;
//     display: block;
// }

// .inicio__container-portafolio-cards>a>article>div>span:nth-child(2) {
//     font-size: 1rem;
// }