@use "../base/variables" as variable;
@use "../utilities/mixin";
@use "sass:map";

main {
    section {
        &.nosotros__intro {
            @include mixin.grid(repeat(4, auto), 1fr, 1.5rem, null,
                "titulo"
                "imagen-titulo"
                "dedicatoria"
                "imagen-dedicatoria");
        }

        div {
            &.nosotros__intro--titulo {
                grid-area: titulo;

                h2 {
                    font-size: 1.25rem;
                    font-weight: bold;
                }

                span {
                    font-size: 1rem;
                }
            }
        }

        div {
            &.nosotros__intro--imagen-titulo {
                grid-area: imagen-titulo;
            }

            img {
                &.nosotros__img--size {
                    @include mixin.size(233px, 350px);
                }
            }
        }

        div {
            &.nosotros__intro--imagen-dedicatoria {
                grid-area: imagen-dedicatoria;
            }

            img {
                &.nosotros__img--size {
                    @include mixin.size(233px, 350px);
                }
            }
        }

        div {
            &.nosotros__intro--dedicatoria {
                grid-area: dedicatoria;

                span {
                    font-size: 1rem;
                }
            }
        }
    }

    section {
        h2 {
            &.nosotros__confian--titulo {
                font-size: 1.15rem;
                font-weight: bold;
            }
        }

        div {
            &.nosotros__logos {
                gap: 25px;

                img {
                    @include mixin.size(150px);
                }
            }
        }
    }
}