@use "../base/variables" as variable;
@use "sass:map";

main {
    section {
        &.nosotros__intro {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            row-gap: 1.5rem;
            grid-template-areas:
                "titulo"
                "imagen-titulo"
                "dedicatoria"
                "imagen-dedicatoria";
        }

        div {
            &.nosotros__intro--titulo {
                grid-area: titulo;

                h2 {
                    font-size: 1.25rem;
                    font-weight: bold;
                }

                span {
                    font-size: 1rem;
                }
            }
        }

        div {
            &.nosotros__intro--imagen-titulo {
                grid-area: imagen-titulo;
            }

            img {
                &.nosotros__img--size {
                    width: 233px;
                    height: 350px;
                }
            }
        }

        div {
            &.nosotros__intro--imagen-dedicatoria {
                grid-area: imagen-dedicatoria;
            }

            img {
                &.nosotros__img--size {
                    width: 233px;
                    height: 350px;
                }
            }
        }

        div {
            &.nosotros__intro--dedicatoria {
                grid-area: dedicatoria;

                span {
                    font-size: 1rem;
                }
            }
        }
    }

    section {
        h3 {
            &.nosotros__confian--titulo {
                font-size: 1.15rem;
                font-weight: bold;
            }
        }

        div {
            &.nosotros__logos {
                gap: 25px;

                img {
                    width: 150px;
                }
            }
        }
    }
}

// .nosotros__img--size {
//     width: 233px;
//     height: 350px;
// }

// .nosotros__intro {
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(4, auto);
//     row-gap: 1.5rem;
//     grid-template-areas:
//         "titulo"
//         "imagen-titulo"
//         "dedicatoria"
//         "imagen-dedicatoria";
// }

// .nosotros__intro--titulo {
//     grid-area: titulo;
// }

// .nosotros__intro--titulo h2 {
//     font-size: 1.25rem;
//     font-weight: bold;
// }

// .nosotros__intro--imagen-titulo {
//     grid-area: imagen-titulo;
// }

// .nosotros__intro--imagen-dedicatoria {
//     grid-area: imagen-dedicatoria;
// }

// .nosotros__intro--titulo span,
// .nosotros__intro--dedicatoria span {
//     font-size: 1rem;
// }

// .nosotros__intro--dedicatoria {
//     grid-area: dedicatoria;
// }

// .nosotros__confian--titulo {
//     font-size: 1.15rem;
//     font-weight: bold;
// }

// .nosotros__logos {
//     gap: 25px;
// }

// .nosotros__logos>img {
//     width: 150px;
// }