@use "../base/variables" as variable;
@use "../utilities/mixin";
@use "sass:map";

main {
    div {
        div {
            &.portafolio {
                max-width: 1200px;
                padding: 15px;
                gap: 15px;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(8, 300px);
                grid-template-areas:
                    "proyecto1"
                    "proyecto2"
                    "proyecto3"
                    "proyecto4"
                    "proyecto5"
                    "proyecto6"
                    "proyecto7"
                    "proyecto8";
            }

            article {
                &:nth-child(1) {
                    grid-area: proyecto1;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(2) {
                    grid-area: proyecto2;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(3) {
                    grid-area: proyecto3;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(4) {
                    grid-area: proyecto4;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(5) {
                    grid-area: proyecto5;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(6) {
                    grid-area: proyecto6;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(7) {
                    grid-area: proyecto7;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                &:nth-child(8) {
                    grid-area: proyecto8;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    transition: transform 0.3s ease;
                    z-index: 0;

                    &:hover {
                        transform: scale(1.04);
                        z-index: 10;
                    }
                }

                img {
                    object-fit: cover;
                    // width: 100%;
                    // height: 100%;
                    @include mixin.size(100%, 100%);
                }

                div {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: map.get(variable.$colores, blanco);
                    background-color: map.get(variable.$colores, negro-semistransparente);
                    // width: 100%;
                    @include mixin.size(100%);
                    padding: 1rem;
                    box-sizing: border-box;

                    span {
                        &:nth-child(1) {
                            font-size: 1.7rem;
                            display: block;
                        }

                        &:nth-child(2) {
                            font-size: 1.2rem;
                            display: block;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

// .portafolio {
//     max-width: 1200px;
//     padding: 15px;
//     gap: 15px;
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(8, 300px);
//     grid-template-areas:
//         "proyecto1"
//         "proyecto2"
//         "proyecto3"
//         "proyecto4"
//         "proyecto5"
//         "proyecto6"
//         "proyecto7"
//         "proyecto8";
// }

// .portafolio>article:nth-child(1) {
//     grid-area: proyecto1;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(2) {
//     grid-area: proyecto2;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(3) {
//     grid-area: proyecto3;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(4) {
//     grid-area: proyecto4;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(5) {
//     grid-area: proyecto5;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(6) {
//     grid-area: proyecto6;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(7) {
//     grid-area: proyecto7;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(8) {
//     grid-area: proyecto8;
//     border-radius: 10px;
//     overflow: hidden;
//     position: relative;
//     transition: transform 0.3s ease;
//     z-index: 0;
// }

// .portafolio>article:nth-child(1):hover,
// .portafolio>article:nth-child(2):hover,
// .portafolio>article:nth-child(3):hover,
// .portafolio>article:nth-child(4):hover,
// .portafolio>article:nth-child(5):hover,
// .portafolio>article:nth-child(6):hover,
// .portafolio>article:nth-child(7):hover,
// .portafolio>article:nth-child(8):hover {
//     transform: scale(1.04);
//     z-index: 10;
// }

// .portafolio>article img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }

// .portafolio>article>div {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     color: map.get(variable.$colores, blanco);
//     background-color: map.get(variable.$colores, negro-semistransparente);
//     width: 100%;
//     padding: 1rem;
//     box-sizing: border-box;
// }

// .portafolio>article>div>span:nth-child(1) {
//     font-size: 1.7rem;
//     display: block;
// }

// .portafolio>article>div>span:nth-child(2) {
//     font-size: 1.2rem;
//     display: block;
//     font-weight: bold;
// }