@use "../base/variables" as variable;
@use "../utilities/mixin";
@use "sass:map";

main {
    div {
        div {
            &.portafolio {
                max-width: 1200px;
                padding: 15px;
                @include mixin.grid(repeat(8, 300px), 1fr, 15px, 15px,
                    "proyecto1"
                    "proyecto2"
                    "proyecto3"
                    "proyecto4"
                    "proyecto5"
                    "proyecto6"
                    "proyecto7"
                    "proyecto8");

                article {
                    &:nth-child(1) {
                        grid-area: proyecto1;
                    }

                    &:nth-child(2) {
                        grid-area: proyecto2;
                    }

                    &:nth-child(3) {
                        grid-area: proyecto3;
                    }

                    &:nth-child(4) {
                        grid-area: proyecto4;
                    }

                    &:nth-child(5) {
                        grid-area: proyecto5;
                    }

                    &:nth-child(6) {
                        grid-area: proyecto6;
                    }

                    &:nth-child(7) {
                        grid-area: proyecto7;
                    }

                    &:nth-child(8) {
                        grid-area: proyecto8;
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(8) {
                        border-radius: 10px;
                        overflow: hidden;
                        position: relative;
                    }

                    &:nth-child(1):hover img,
                    &:nth-child(2):hover img,
                    &:nth-child(3):hover img,
                    &:nth-child(4):hover img,
                    &:nth-child(5):hover img,
                    &:nth-child(6):hover img,
                    &:nth-child(7):hover img,
                    &:nth-child(8):hover img {
                        transform: scale(1.1);
                    }

                    img {
                        object-fit: cover;
                        @include mixin.size(100%, 100%);
                        transition: transform 0.5s ease;
                    }

                    div {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: map.get(variable.$colores, blanco);
                        background-color: map.get(variable.$colores, negro-semistransparente);
                        @include mixin.size(100%);
                        padding: 1rem;
                        box-sizing: border-box;

                        span {
                            &:nth-child(1) {
                                font-size: 1.7rem;
                                display: block;
                            }

                            &:nth-child(2) {
                                font-size: 1.2rem;
                                display: block;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}