@import url("general-sans.css");
:root {
  --bs-nav-link-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(76, 5, 13);
  font-family: "GeneralSans-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* sirve para ocultar el h1 visualmente, pero mantiene en el DOM */
.clipped {
  border: 0;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Se extendio bootstrap */
.justify-items-center {
  justify-items: center;
}

.link {
  color: rgb(76, 5, 13);
  font-size: 1rem;
}

.link:hover {
  color: rgb(149, 177, 199);
}

header nav.header__nav {
  background-color: rgb(200, 41, 37);
  --bs-navbar-padding-y: 0;
}
header nav.header__nav.offcanvas-open .navbar-brand img {
  display: none !important;
}
header nav div a img {
  height: 24px;
}
header nav div button.header__nav__navbar-toggler {
  border: 0;
  color: rgb(255, 255, 255);
}
header nav div button.header__nav__navbar-toggler:focus {
  box-shadow: none;
}
header nav div div.header__nav__offcanvas {
  background-color: rgb(200, 41, 37);
  color: rgb(255, 255, 255);
}
header nav div div div.header__nav__offcanvas-header {
  color: rgb(255, 255, 255);
}
header nav div div div img {
  height: 24px;
}
header nav div div div button.btn {
  color: rgb(255, 255, 255);
  border: 0;
}
header nav div div div button.btn:hover {
  color: rgb(149, 177, 199);
}
header nav div div div ul li.header__nav__nav-item {
  --bs-nav-link-padding-y: 0.8rem;
}
header nav div div div ul li a.header__nav__nav-link {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right, rgb(76, 5, 13) 0%, rgb(76, 5, 13) 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: none;
}
header nav div div div ul li a.header__nav__nav-link.active {
  color: rgb(149, 177, 199) !important;
}
header nav div div div ul li a.header__nav__nav-link:hover {
  color: rgb(149, 177, 199);
  background-size: 100% 100%;
  transition: none;
}

footer.footer {
  background-color: rgb(200, 41, 37);
  color: rgb(255, 255, 255);
}
footer div.footer__container {
  max-width: 1024px;
}
footer div div div img {
  height: 24px;
}
footer div div div h4 {
  font-size: 1rem;
}
footer div div div ul.footer__nav {
  --bs-nav-link-padding-x: 0;
}
footer div div div ul li a.footer__nav__nav-link {
  display: inline;
  color: rgb(255, 255, 255);
}
footer div div div ul li a.footer__nav__nav-link:hover {
  color: rgb(149, 177, 199);
}
footer div div div ul li a.footer__nav__nav-link.active {
  color: rgb(149, 177, 199) !important;
}
footer div div div h4 {
  font-size: 1rem;
}
footer div div div div.footer__container--contacto {
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: auto 1fr;
}
footer div div div h4 {
  font-size: 1rem;
}
footer div div div div.footer__container--social-links a {
  color: rgb(255, 255, 255);
  transition: color 0.2s ease, transform 0.2s ease;
}
footer div div div div.footer__container--social-links a:hover {
  color: rgb(149, 177, 199);
  transform: scale(1.1);
}
footer div div.footer__container--derechos {
  border-top: 1px solid rgb(255, 255, 255);
}

main section div form.contacto__form div:last-child button.button_primary {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-hover-color: rgb(149, 177, 199);
  --bs-btn-hover-bg: rgb(76, 5, 13);
  --bs-btn-hover-border-color: rgb(76, 5, 13);
}

main section div div.contacto__intro {
  max-width: 600px;
}
main section div form.contacto__form {
  max-width: 600px;
}
main section div form.contacto__form div.form-floating label.form-label {
  color: rgb(76, 5, 13);
}
main section div form.contacto__form div.form-floating textarea.form-control {
  height: 8rem !important;
}
main section div form.contacto__form div:last-child button.button_primary {
  --bs-btn-bg: rgb(200, 41, 37);
  --bs-btn-border-color: rgb(200, 41, 37);
}

main section div div div img.inicio__banner {
  height: 300px;
  object-fit: cover;
}
main section div div div div.inicio__banner-caption {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 2.5rem;
}
main section div div div div span:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 1.25rem;
}
main section div div div div span:nth-child(2) {
  font-size: 1rem;
}
main section div.inicio__container-nosotros span {
  font-size: 1rem;
}
main section div.inicio__container-servicio-cards {
  gap: 20px;
}
main section div.inicio__container-servicio-cards a {
  text-decoration: none;
  display: block;
  width: 100%;
}
main section div.inicio__container-servicio-cards a article {
  background-color: rgb(200, 41, 37);
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  height: 100%;
}
main section div.inicio__container-servicio-cards a article:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
main section div.inicio__container-servicio-cards a article:hover div img {
  transform: scale(1.1);
}
main section div.inicio__container-servicio-cards a article div:nth-child(1) {
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
main section div.inicio__container-servicio-cards a article div:nth-child(1) img {
  width: 100%;
  height: 160px;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}
main section div.inicio__container-servicio-cards a article div:nth-child(2) {
  padding: 0.75rem 1rem;
  color: rgb(255, 255, 255);
}
main section div.inicio__container-servicio-cards a article div:nth-child(2) h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
main section div.inicio__container-servicio-cards a article div:nth-child(2) span {
  font-size: 1rem;
}
main section div.inicio__logos {
  gap: 25px;
}
main section div.inicio__logos img {
  width: 150px;
}
main section div.inicio__container-portafolio-cards {
  gap: 20px;
}
main section div.inicio__container-portafolio-cards a {
  text-decoration: none;
  display: block;
  width: 100%;
}
main section div.inicio__container-portafolio-cards a article {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
main section div.inicio__container-portafolio-cards a article:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
main section div.inicio__container-portafolio-cards a article:hover img {
  transform: scale(1.1);
}
main section div.inicio__container-portafolio-cards a article img {
  width: 100%;
  height: 220px;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
}
main section div.inicio__container-portafolio-cards a article div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 15px 20px;
}
main section div.inicio__container-portafolio-cards a article div h3 {
  font-size: 1.4rem;
}
main section div.inicio__container-portafolio-cards a article div span {
  font-size: 1rem;
}
main section h2.inicio__title {
  font-size: 1.25rem;
  font-weight: bold;
}

main section.nosotros__intro {
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  grid-template-areas: "titulo" "imagen-titulo" "dedicatoria" "imagen-dedicatoria";
}
main section div.nosotros__intro--titulo {
  grid-area: titulo;
}
main section div.nosotros__intro--titulo h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
main section div.nosotros__intro--titulo span {
  font-size: 1rem;
}
main section div.nosotros__intro--imagen-titulo {
  grid-area: imagen-titulo;
}
main section div img.nosotros__img--size {
  width: 233px;
  height: 350px;
}
main section div.nosotros__intro--imagen-dedicatoria {
  grid-area: imagen-dedicatoria;
}
main section div img.nosotros__img--size {
  width: 233px;
  height: 350px;
}
main section div.nosotros__intro--dedicatoria {
  grid-area: dedicatoria;
}
main section div.nosotros__intro--dedicatoria span {
  font-size: 1rem;
}
main section h2.nosotros__confian--titulo {
  font-size: 1.15rem;
  font-weight: bold;
}
main section div.nosotros__logos {
  gap: 25px;
}
main section div.nosotros__logos img {
  width: 150px;
}

main div div.portafolio {
  max-width: 1200px;
  padding: 15px;
  grid-template-rows: repeat(8, 300px);
  grid-template-columns: 1fr;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-areas: "proyecto1" "proyecto2" "proyecto3" "proyecto4" "proyecto5" "proyecto6" "proyecto7" "proyecto8";
}
main div div.portafolio article:nth-child(1) {
  grid-area: proyecto1;
}
main div div.portafolio article:nth-child(2) {
  grid-area: proyecto2;
}
main div div.portafolio article:nth-child(3) {
  grid-area: proyecto3;
}
main div div.portafolio article:nth-child(4) {
  grid-area: proyecto4;
}
main div div.portafolio article:nth-child(5) {
  grid-area: proyecto5;
}
main div div.portafolio article:nth-child(6) {
  grid-area: proyecto6;
}
main div div.portafolio article:nth-child(7) {
  grid-area: proyecto7;
}
main div div.portafolio article:nth-child(8) {
  grid-area: proyecto8;
}
main div div.portafolio article:nth-child(1), main div div.portafolio article:nth-child(2), main div div.portafolio article:nth-child(3), main div div.portafolio article:nth-child(4), main div div.portafolio article:nth-child(5), main div div.portafolio article:nth-child(6), main div div.portafolio article:nth-child(7), main div div.portafolio article:nth-child(8) {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
main div div.portafolio article:nth-child(1):hover img, main div div.portafolio article:nth-child(2):hover img, main div div.portafolio article:nth-child(3):hover img, main div div.portafolio article:nth-child(4):hover img, main div div.portafolio article:nth-child(5):hover img, main div div.portafolio article:nth-child(6):hover img, main div div.portafolio article:nth-child(7):hover img, main div div.portafolio article:nth-child(8):hover img {
  transform: scale(1.1);
}
main div div.portafolio article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
main div div.portafolio article div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
main div div.portafolio article div h2 {
  font-size: 1.7rem;
}
main div div.portafolio article div span {
  font-size: 1.2rem;
  display: block;
  font-weight: bold;
}

main section.servicios {
  grid-template-rows: repeat(10, auto);
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  grid-template-areas: "social" "imagen-social" "branding" "imagen-branding" "audiovisual" "imagen-audiovisual" "disenio" "imagen-disenio" "fotografia" "imagen-fotografia";
}
main section.servicios div:nth-child(1) {
  grid-area: social;
}
main section.servicios div:nth-child(2) {
  grid-area: imagen-social;
}
main section.servicios div:nth-child(4) {
  grid-area: branding;
}
main section.servicios div:nth-child(3) {
  grid-area: imagen-branding;
}
main section.servicios div:nth-child(5) {
  grid-area: audiovisual;
}
main section.servicios div:nth-child(6) {
  grid-area: imagen-audiovisual;
}
main section.servicios div:nth-child(8) {
  grid-area: disenio;
}
main section.servicios div:nth-child(7) {
  grid-area: imagen-disenio;
}
main section.servicios div:nth-child(9) {
  grid-area: fotografia;
}
main section.servicios div:nth-child(10) {
  grid-area: imagen-fotografia;
}
main section.servicios div:nth-child(2) .servicios__card, main section.servicios div:nth-child(3) .servicios__card, main section.servicios div:nth-child(6) .servicios__card, main section.servicios div:nth-child(7) .servicios__card, main section.servicios div:nth-child(10) .servicios__card {
  width: 233px;
  height: 350px;
  perspective: 62rem;
}
main section.servicios div:nth-child(2) .servicios__card:hover .servicios__card-inner, main section.servicios div:nth-child(3) .servicios__card:hover .servicios__card-inner, main section.servicios div:nth-child(6) .servicios__card:hover .servicios__card-inner, main section.servicios div:nth-child(7) .servicios__card:hover .servicios__card-inner, main section.servicios div:nth-child(10) .servicios__card:hover .servicios__card-inner {
  transform: rotateY(180deg);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner, main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner, main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner, main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner, main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-front,
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-front,
main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-front,
main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-front,
main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-front,
main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back, main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back {
  transform: rotateY(180deg);
  background: rgb(149, 177, 199);
  position: relative;
  overflow: hidden;
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1) {
  position: absolute;
  display: block;
  top: 0rem;
  left: 12.2px;
  font-size: 0.944rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2) {
  position: absolute;
  display: block;
  top: 1.8rem;
  left: 98.44px;
  font-size: 1.268rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3) {
  position: absolute;
  display: block;
  top: 3.6rem;
  left: 73.8px;
  font-size: 0.968rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4) {
  position: absolute;
  display: block;
  top: 5.4rem;
  left: 81.64px;
  font-size: 1.22rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5) {
  position: absolute;
  display: block;
  top: 7.2rem;
  left: 30.12px;
  font-size: 0.83rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6) {
  position: absolute;
  display: block;
  top: 9rem;
  left: 68.2px;
  font-size: 0.914rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7) {
  position: absolute;
  display: block;
  top: 10.8rem;
  left: 49.16px;
  font-size: 0.86rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8) {
  position: absolute;
  display: block;
  top: 12.6rem;
  left: 72.68px;
  font-size: 1.172rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9) {
  position: absolute;
  display: block;
  top: 14.4rem;
  left: 32.36px;
  font-size: 1.262rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10) {
  position: absolute;
  display: block;
  top: 16.2rem;
  left: 87.24px;
  font-size: 1.4rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11) {
  position: absolute;
  display: block;
  top: 18rem;
  left: 104.04px;
  font-size: 1.106rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12) {
  position: absolute;
  display: block;
  top: 19.8rem;
  left: 92.84px;
  font-size: 1.082rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13) {
  position: absolute;
  display: block;
  top: 21.6rem;
  left: 18.92px;
  font-size: 1.292rem;
  font-weight: 300;
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
}
main section.servicios div h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
main section.servicios div span {
  font-size: 1rem;
}
main section.servicios div ul {
  font-size: 1rem;
}

@media (min-width: 576px) {
  header nav div div div ul li a.header__nav__nav-link {
    transition: background-size 0.1s ease-in-out;
  }
  header nav div div div ul li a.header__nav__nav-link:hover {
    transition: background-size 0.2s ease-in-out;
  }
}
/* sm */
@media (min-width: 576px) {
  .link {
    font-size: 1.15rem;
  }
}
/* sm */
@media (min-width: 576px) {
  main section div div div div span:nth-child(1) {
    font-size: 1.75rem;
  }
  main section div div div div span:nth-child(2) {
    font-size: 1.5rem;
  }
  main section div.inicio__container-nosotros span {
    font-size: 1.25rem;
  }
  main section div.inicio__container-servicio-cards a {
    width: auto;
  }
  main section div.inicio__container-servicio-cards a article {
    width: 230px;
  }
  main section div.inicio__container-portafolio-cards a {
    width: auto;
  }
  main section div.inicio__container-portafolio-cards a article {
    width: 300px;
  }
  main section div.inicio__container-portafolio-cards a article img {
    height: auto;
  }
  main section h2.inicio__title {
    font-size: 1.5rem;
  }
}
/* md */
@media (min-width: 768px) {
  main section div div div img.inicio__banner {
    height: 400px;
  }
}
/* lg */
@media (min-width: 992px) {
  main section div div div div span:nth-child(1) {
    font-size: 2rem;
  }
  main section div div div div span:nth-child(2) {
    font-size: 1.75rem;
  }
}
/* sm */
@media (min-width: 576px) {
  main section.nosotros__intro {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo imagen-titulo" "imagen-dedicatoria dedicatoria";
  }
  main section div.nosotros__intro--titulo h2 {
    font-size: 1.8rem;
  }
  main section div.nosotros__intro--titulo span {
    font-size: 1.25rem;
  }
  main section div.nosotros__intro--dedicatoria span {
    font-size: 1.25rem;
  }
  main section h2.nosotros__confian--titulo {
    font-size: 1.6rem;
  }
}
/* md */
@media (min-width: 768px) {
  main section div.nosotros__logos img {
    width: 180px;
  }
}
/* lg */
@media (min-width: 992px) {
  main section div.nosotros__intro--titulo h2 {
    font-size: 2rem;
  }
  main section div.nosotros__intro--titulo span {
    font-size: 1.5rem;
  }
  main section div img.nosotros__img--size {
    width: 333px;
    height: 500px;
  }
  main section div img.nosotros__img--size {
    width: 333px;
    height: 500px;
  }
  main section div.nosotros__intro--dedicatoria span {
    font-size: 1.5rem;
  }
  main section h2.nosotros__confian--titulo {
    font-size: 1.8rem;
  }
}
/* md */
@media (min-width: 768px) {
  main div div.portafolio {
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "proyecto1 proyecto2" "proyecto3 proyecto4" "proyecto5 proyecto6" "proyecto7 proyecto8";
  }
  main div div.portafolio article div h2 {
    font-size: 1.8rem;
  }
  main div div.portafolio article div span {
    font-size: 1.3rem;
  }
}
/* lg */
@media (min-width: 992px) {
  main div div.portafolio {
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "proyecto1 proyecto1 proyecto2" "proyecto3 proyecto4 proyecto4" "proyecto5 proyecto5 proyecto6" "proyecto7 proyecto8 proyecto8";
  }
  main div div.portafolio article div h2 {
    font-size: 2rem;
  }
  main div div.portafolio article div span {
    font-size: 1.5rem;
  }
}
/* sm */
@media (min-width: 576px) {
  main section.servicios {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "social imagen-social" "imagen-branding branding" "audiovisual imagen-audiovisual" "imagen-disenio disenio" "fotografia imagen-fotografia";
  }
  main section.servicios div h2 {
    font-size: 1.8rem;
  }
  main section.servicios div span {
    font-size: 1.25rem;
  }
  main section.servicios div ul {
    font-size: 1.25rem;
  }
}
/* lg */
@media (min-width: 992px) {
  main section.servicios div:nth-child(2) .servicios__card, main section.servicios div:nth-child(3) .servicios__card, main section.servicios div:nth-child(6) .servicios__card, main section.servicios div:nth-child(7) .servicios__card, main section.servicios div:nth-child(10) .servicios__card {
    width: 333px;
    height: 500px;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(1) {
    top: 0rem;
    font-size: 1.01rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(2) {
    top: 2.4rem;
    font-size: 0.87rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(3) {
    top: 4.8rem;
    font-size: 1.654rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(4) {
    top: 7.2rem;
    font-size: 2.046rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(5) {
    top: 9.6rem;
    font-size: 2.018rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(6) {
    top: 12rem;
    font-size: 0.856rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(7) {
    top: 14.4rem;
    font-size: 1.78rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(8) {
    top: 16.8rem;
    font-size: 1.682rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(9) {
    top: 19.2rem;
    font-size: 0.884rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(10) {
    top: 21.6rem;
    font-size: 1.5rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(11) {
    top: 24rem;
    font-size: 1.276rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(12) {
    top: 26.4rem;
    font-size: 0.884rem;
  }
  main section.servicios div:nth-child(2) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(3) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(6) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(7) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13), main section.servicios div:nth-child(10) .servicios__card .servicios__card-inner .servicios__card-back span:nth-child(13) {
    top: 28.8rem;
    font-size: 2.172rem;
  }
  main section.servicios div h2 {
    font-size: 2rem;
  }
  main section.servicios div span {
    font-size: 1.5rem;
  }
  main section.servicios div ul {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
