@charset "UTF-8";
@import url("general-sans.css");
:root {
  --bs-nav-link-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(76, 5, 13);
  font-family: "GeneralSans-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* sirve para ocultar el h1 visualmente, pero mantiene en el DOM */
.clipped {
  border: 0;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Se extendio bootstrap */
.justify-items-center {
  justify-items: center;
}

.link {
  color: rgb(76, 5, 13);
  font-size: 1rem;
}

.link:hover {
  color: rgb(149, 177, 199);
}

header nav.header__nav {
  background-color: rgb(200, 41, 37);
  --bs-navbar-padding-y: 0;
}
header nav.header__nav.offcanvas-open .navbar-brand img {
  display: none !important;
}
header nav div a img {
  height: 24px;
}
header nav div button.header__nav__navbar-toggler {
  border: 0;
  color: rgb(255, 255, 255);
}
header nav div button.header__nav__navbar-toggler:focus {
  box-shadow: none;
}
header nav div div.header__nav__offcanvas {
  background-color: rgb(200, 41, 37);
  color: rgb(255, 255, 255);
}
header nav div div div.header__nav__offcanvas-header {
  color: rgb(255, 255, 255);
}
header nav div div div img {
  height: 24px;
}
header nav div div div button.btn {
  color: rgb(255, 255, 255);
  border: 0;
}
header nav div div div button.btn:hover {
  color: rgb(149, 177, 199);
}
header nav div div div ul li.header__nav__nav-item {
  --bs-nav-link-padding-y: 0.8rem;
}
header nav div div div ul li a.header__nav__nav-link {
  color: rgb(255, 255, 255);
}
header nav div div div ul li a.header__nav__nav-link.active {
  color: rgb(149, 177, 199) !important;
}
header nav div div div ul li a.header__nav__nav-link:hover {
  background-color: rgb(76, 5, 13);
  color: rgb(149, 177, 199);
}

footer.footer {
  background-color: rgb(200, 41, 37);
  color: rgb(255, 255, 255);
}
footer div.footer__container {
  max-width: 1024px;
}
footer div div div img {
  height: 24px;
}
footer div div div h4 {
  font-size: 1rem;
}
footer div div div ul.footer__nav {
  --bs-nav-link-padding-x: 0;
}
footer div div div ul li a.footer__nav__nav-link {
  display: inline;
  color: rgb(255, 255, 255);
}
footer div div div ul li a.footer__nav__nav-link:hover {
  color: rgb(149, 177, 199);
}
footer div div div ul li a.footer__nav__nav-link.active {
  color: rgb(149, 177, 199) !important;
}
footer div div div h4 {
  font-size: 1rem;
}
footer div div div div.footer__container--contacto {
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 30px);
}
footer div div div h4 {
  font-size: 1rem;
}
footer div div div div.footer__container--social-links a {
  color: rgb(255, 255, 255);
  transition: color 0.2s ease, transform 0.2s ease;
}
footer div div div div.footer__container--social-links a:hover {
  color: rgb(149, 177, 199);
  transform: scale(1.1);
}
footer div div.footer__container--derechos {
  border-top: 1px solid rgb(255, 255, 255);
}

main section div div.contacto__intro {
  max-width: 600px;
}
main section div form.contacto__form {
  max-width: 600px;
}
main section div form.contacto__form div.form-floating label.form-label {
  color: rgb(76, 5, 13);
}
main section div form.contacto__form div.form-floating textarea.form-control {
  height: 8rem !important;
}
main section div form.contacto__form div:last-child button {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(200, 41, 37);
  --bs-btn-border-color: rgb(200, 41, 37);
  --bs-btn-hover-color: rgb(149, 177, 199);
  --bs-btn-hover-bg: rgb(76, 5, 13);
  --bs-btn-hover-border-color: rgb(76, 5, 13);
}

.inicio__banner {
  height: 300px;
  object-fit: cover;
}

.inicio__banner-caption {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 2.5rem;
}

.inicio__banner-caption > span:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 1.25rem;
}

.inicio__banner-caption > span:nth-child(2) {
  font-size: 1rem;
}

.inicio__container-servicio-cards {
  gap: 20px;
}

/* inicio - sección nosotros */
.inicio__container-nosotros > span {
  font-size: 1rem;
}

/* inicio - sección servicios */
.inicio__container-servicio-cards > a > article {
  background-color: rgb(200, 41, 37);
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.inicio__container-servicio-cards > a > article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.inicio__container-servicio-cards > a > article > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.inicio__container-servicio-cards > a > article > div {
  padding: 0.75rem 1rem;
  color: rgb(255, 255, 255);
}

.inicio__container-servicio-cards > a > article > div > span:nth-child(1) {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
}

.inicio__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.inicio__logos {
  gap: 25px;
}

.inicio__logos > img {
  width: 150px;
}

.inicio__container-portafolio-cards {
  gap: 20px;
}

.inicio__container-servicio-cards > a,
.inicio__container-portafolio-cards > a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.inicio__container-portafolio-cards > a > article {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.inicio__container-portafolio-cards > a > article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.inicio__container-portafolio-cards > a > article > img {
  width: 100%;
  height: 220px;
  display: block;
  object-fit: cover;
}

.inicio__container-portafolio-cards > a > article > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 15px 20px;
}

.inicio__container-portafolio-cards > a > article > div > span:nth-child(1) {
  font-size: 1.4rem;
  display: block;
}

.inicio__container-portafolio-cards > a > article > div > span:nth-child(2) {
  font-size: 1rem;
}

main section.nosotros__intro {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 1.5rem;
  grid-template-areas: "titulo" "imagen-titulo" "dedicatoria" "imagen-dedicatoria";
}
main section div.nosotros__intro--titulo {
  grid-area: titulo;
}
main section div.nosotros__intro--titulo h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
main section div.nosotros__intro--titulo span {
  font-size: 1rem;
}
main section div.nosotros__intro--imagen-titulo {
  grid-area: imagen-titulo;
}
main section div img.nosotros__img--size {
  width: 233px;
  height: 350px;
}
main section div.nosotros__intro--imagen-dedicatoria {
  grid-area: imagen-dedicatoria;
}
main section div img.nosotros__img--size {
  width: 233px;
  height: 350px;
}
main section div.nosotros__intro--dedicatoria {
  grid-area: dedicatoria;
}
main section div.nosotros__intro--dedicatoria span {
  font-size: 1rem;
}
main section h3.nosotros__confian--titulo {
  font-size: 1.15rem;
  font-weight: bold;
}
main section div.nosotros__logos {
  gap: 25px;
}
main section div.nosotros__logos img {
  width: 150px;
}

.portafolio {
  max-width: 1200px;
  padding: 15px;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 300px);
  grid-template-areas: "proyecto1" "proyecto2" "proyecto3" "proyecto4" "proyecto5" "proyecto6" "proyecto7" "proyecto8";
}

.portafolio > article:nth-child(1) {
  grid-area: proyecto1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(2) {
  grid-area: proyecto2;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(3) {
  grid-area: proyecto3;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(4) {
  grid-area: proyecto4;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(5) {
  grid-area: proyecto5;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(6) {
  grid-area: proyecto6;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(7) {
  grid-area: proyecto7;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(8) {
  grid-area: proyecto8;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 0;
}

.portafolio > article:nth-child(1):hover,
.portafolio > article:nth-child(2):hover,
.portafolio > article:nth-child(3):hover,
.portafolio > article:nth-child(4):hover,
.portafolio > article:nth-child(5):hover,
.portafolio > article:nth-child(6):hover,
.portafolio > article:nth-child(7):hover,
.portafolio > article:nth-child(8):hover {
  transform: scale(1.04);
  z-index: 10;
}

.portafolio > article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portafolio > article > div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.portafolio > article > div > span:nth-child(1) {
  font-size: 1.7rem;
  display: block;
}

.portafolio > article > div > span:nth-child(2) {
  font-size: 1.2rem;
  display: block;
  font-weight: bold;
}

.servicios {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, auto);
  row-gap: 1.5rem;
  grid-template-areas: "social" "imagen-social" "branding" "imagen-branding" "audiovisual" "imagen-audiovisual" "disenio" "imagen-disenio" "fotografia" "imagen-fotografia";
}

.servicios__social {
  grid-area: social;
}

.servicios__imagen-social {
  grid-area: imagen-social;
}

.servicios__branding {
  grid-area: branding;
}

.servicios__imagen-branding {
  grid-area: imagen-branding;
}

.servicios__audiovisual {
  grid-area: audiovisual;
}

.servicios__imagen-audiovisual {
  grid-area: imagen-audiovisual;
}

.servicios__disenio {
  grid-area: disenio;
}

.servicios__imagen-disenio {
  grid-area: imagen-disenio;
}

.servicios__fotografia {
  grid-area: fotografia;
}

.servicios__imagen-fotografia {
  grid-area: imagen-fotografia;
}

.servicios__social h2,
.servicios__branding h2,
.servicios__audiovisual h2,
.servicios__disenio h2,
.servicios__fotografia h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.servicios__social span,
.servicios__branding span,
.servicios__audiovisual span,
.servicios__disenio span,
.servicios__fotografia span,
.servicios__social ul,
.servicios__branding ul,
.servicios__audiovisual ul,
.servicios__disenio ul,
.servicios__fotografia ul {
  font-size: 1rem;
}

.servicios__img--size {
  width: 233px;
  height: 350px;
}

/* sm */
@media (min-width: 576px) {
  .link {
    font-size: 1.15rem;
  }
}
/* sm */
@media (min-width: 576px) {
  .inicio__banner-caption > span:nth-child(1) {
    font-size: 1.75rem;
  }
  .inicio__banner-caption > span:nth-child(2) {
    font-size: 1.5rem;
  }
  .inicio__title {
    font-size: 1.5rem;
  }
  .inicio__container-nosotros > span {
    font-size: 1.25rem;
  }
  .inicio__container-servicio-cards > a,
  .inicio__container-portafolio-cards > a {
    width: auto;
  }
  .inicio__container-servicio-cards > a > article {
    width: 230px;
  }
  .inicio__container-portafolio-cards > a > article {
    width: 300px;
  }
  .inicio__container-portafolio-cards > a > article > img {
    height: auto;
  }
}
/* md */
@media (min-width: 768px) {
  .inicio__banner {
    height: 400px;
  }
}
/* lg */
@media (min-width: 992px) {
  .inicio__banner-caption > span:nth-child(1) {
    display: block;
    font-weight: bold;
    font-size: 2rem;
  }
  .inicio__banner-caption > span:nth-child(2) {
    font-size: 1.75rem;
  }
}
/* sm */
@media (min-width: 576px) {
  main section.nosotros__intro {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo imagen-titulo" "imagen-dedicatoria dedicatoria";
  }
  main section div.nosotros__intro--titulo h2 {
    font-size: 1.8rem;
  }
  main section div.nosotros__intro--titulo span {
    font-size: 1.25rem;
  }
  main section div.nosotros__intro--dedicatoria span {
    font-size: 1.25rem;
  }
  main section h3.nosotros__confian--titulo {
    font-size: 1.6rem;
  }
}
/* md */
@media (min-width: 768px) {
  main section div.nosotros__logos img {
    width: 180px;
  }
}
/* lg */
@media (min-width: 992px) {
  main section div.nosotros__intro--titulo h2 {
    font-size: 2rem;
  }
  main section div.nosotros__intro--titulo span {
    font-size: 1.5rem;
  }
  main section div img.nosotros__img--size {
    width: 333px;
    height: 500px;
  }
  main section div img.nosotros__img--size {
    width: 333px;
    height: 500px;
  }
  main section div.nosotros__intro--dedicatoria span {
    font-size: 1.5rem;
  }
  main section h3.nosotros__confian--titulo {
    font-size: 1.8rem;
  }
}
/* md */
@media (min-width: 768px) {
  .portafolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas: "proyecto1 proyecto2" "proyecto3 proyecto4" "proyecto5 proyecto6" "proyecto7 proyecto8";
  }
  .portafolio > article > div > span:nth-child(1) {
    font-size: 1.8rem;
  }
  .portafolio > article > div > span:nth-child(2) {
    font-size: 1.3rem;
  }
}
/* lg */
@media (min-width: 992px) {
  .portafolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas: "proyecto1 proyecto1 proyecto2" "proyecto3 proyecto4 proyecto4" "proyecto5 proyecto5 proyecto6" "proyecto7 proyecto8 proyecto8";
  }
  .portafolio > article > div > span:nth-child(1) {
    font-size: 2rem;
  }
  .portafolio > article > div > span:nth-child(2) {
    font-size: 1.5rem;
  }
}
/* sm */
@media (min-width: 576px) {
  .servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "social imagen-social" "imagen-branding branding" "audiovisual imagen-audiovisual" "imagen-disenio disenio" "fotografia imagen-fotografia";
  }
  .servicios__social h2,
  .servicios__branding h2,
  .servicios__audiovisual h2,
  .servicios__disenio h2,
  .servicios__fotografia h2 {
    font-size: 1.8rem;
  }
  .servicios__social span,
  .servicios__branding span,
  .servicios__audiovisual span,
  .servicios__disenio span,
  .servicios__fotografia span,
  .servicios__social ul,
  .servicios__branding ul,
  .servicios__audiovisual ul,
  .servicios__disenio ul,
  .servicios__fotografia ul {
    font-size: 1.25rem;
  }
}
/* lg */
@media (min-width: 992px) {
  .servicios__img--size {
    width: 333px;
    height: 500px;
  }
  .servicios__social h2,
  .servicios__branding h2,
  .servicios__audiovisual h2,
  .servicios__disenio h2,
  .servicios__fotografia h2 {
    font-size: 2rem;
  }
  .servicios__social span,
  .servicios__branding span,
  .servicios__audiovisual span,
  .servicios__disenio span,
  .servicios__fotografia span,
  .servicios__social ul,
  .servicios__branding ul,
  .servicios__audiovisual ul,
  .servicios__disenio ul,
  .servicios__fotografia ul {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
