@import url("general-sans.css");

:root {
    --color-primario: rgb(200, 41, 37);
    --color-primario-semitransparente: rgba(200, 41, 37, 1);
    --color-secundario: rgb(76, 5, 13);
    --color-terciario: rgb(149, 177, 199);
    --color-fondo: rgb(250, 231, 201);
    --color-blanco: rgb(255, 255, 255);
    --color-negro-semistransparente: rgba(0, 0, 0, 0.5);
    --color-negro-semistransparente-suave: rgba(0, 0, 0, 0.1);
    --color-borde: #ccc;

    --bs-nav-link-color: var(--color-blanco);
}

body {
    background-color: var(--color-blanco);
    color: var(--color-secundario);    
    font-family: "GeneralSans-Regular";    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__nav {
    background-color: var(--color-primario);
    --bs-navbar-padding-y: 0;
}

.header__nav__nav-item {
    --bs-nav-link-padding-y: 0.8rem;
}

.header__nav__nav-link {
    color: var(--color-blanco);
}

.header__nav__nav-link.active {
    color: var(--color-terciario) !important;
}

.header__nav__nav-link:hover {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

.header__nav__navbar-toggler {
    border: 0;
    color: var(--color-blanco);
}

.header__nav__navbar-toggler:focus {
    box-shadow: none;
}

.header__nav__offcanvas {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.header__nav__offcanvas-header {
    color: var(--color-blanco);
}

.header__nav__offcanvas-header .btn {
    color: var(--color-blanco);
    border: 0;
}

.header__nav__offcanvas-header .btn:hover {
    color: var(--color-terciario);
}

.footer {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.footer__container {
    max-width: 1024px;
}

.footer__container p {
    font-size: 1rem;
}

.footer__container h4 {
    font-size: 1rem;
}

.footer__container--social-links a {
    color: var(--color-blanco);
    transition: color 0.2s ease, transform 0.2s ease;
}

.footer__container--social-links a:hover {
    color: var(--color-terciario);
    transform: scale(1.1);
}

.footer__container--contacto {
    grid-template-columns: auto 1fr; 
    grid-template-rows: repeat(3, 30px);
}

.footer__container--derechos {
    border-top: 1px solid var(--color-blanco);
}

.footer__nav {
    --bs-nav-link-padding-x: 0;
}

.footer__nav__nav-link {
    display: inline;
    color: var(--color-blanco);
}

.footer__nav__nav-link.active {
    color: var(--color-terciario) !important;
}

.footer__nav__nav-link:hover {
    color: var(--color-terciario);
}

.nosotros__textarea--height {
    height: 8rem;
}

.nosotros__form--form-floating > label {
    color: var(--color-secundario);
}

.nosotros__intro {
    width: 600px;
}

.nosotros__form {
    width: 600px;
}

.nosotros__btn {
    --bs-btn-color: var(--color-blanco);
    --bs-btn-bg: var(--color-primario);
    --bs-btn-border-color: var(--color-primario);
    --bs-btn-hover-color: var(--color-terciario);
    --bs-btn-hover-bg: var(--color-secundario);
    --bs-btn-hover-border-color: var(--color-secundario);
}