@use "sass:math";

@mixin size($width: null, $height: null) {
    @if $width {
        width: $width;
    }

    @if $height {
        height: $height;
    }
}

@mixin grid($rows: null, $columns: null, $row-gap: null, $column-gap: null, $areas: null) {
    @if $rows {
        grid-template-rows: $rows;
    }

    @if $columns {
        grid-template-columns: $columns;
    }

    @if $row-gap {
        row-gap: $row-gap;
    }

    @if $column-gap {
        column-gap: $column-gap;
    }

    @if $areas {
        grid-template-areas: $areas;
    }
}

// Calcula un valor aleatorio entre el $min y el $max para el atributo left
@mixin random-position-left($min, $max) {
    $random-left: $min + (math.random(100) / 100) * ($max - $min);
    left: $random-left + px;
}

// Calcula un valor aleatorio entre el $min y el $max para el atributo top
@mixin random-position-top($min, $max) {
    $random-top: $min + (math.random(100) / 100) * ($max - $min);
    top: $random-top + px;
}

// Calcula un valor aleatorio entre el $min y el $max para el atributo font-size
@mixin random-font-size($min, $max) {
    $random-font-size: $min + (math.random(100) / 100) * ($max - $min);
    font-size: $random-font-size + rem;
}