@use "../base/variables" as variable;
@use "sass:map";

footer {
    &.footer {
        background-color: map.get(variable.$colores, primario);
        color: map.get(variable.$colores, blanco);
    }

    div {
        &.footer__container {
            max-width: 1024px;
        }

        div {
            div {
                img {
                    height: 24px;
                }
            }

            div {
                h4 {
                    font-size: 1rem;
                }

                ul {
                    &.footer__nav {
                        --bs-nav-link-padding-x: 0;
                    }

                    li {
                        a {
                            &.footer__nav__nav-link {
                                display: inline;
                                color: map.get(variable.$colores, blanco);

                                &:hover {
                                    color: map.get(variable.$colores, terciario);
                                }

                                &.active {
                                    color: map.get(variable.$colores, terciario) !important;
                                }
                            }
                        }
                    }
                }
            }

            div {
                h4 {
                    font-size: 1rem;
                }

                div {
                    &.footer__container--contacto {
                        grid-template-columns: auto 1fr;
                        grid-template-rows: repeat(3, 30px);
                    }
                }
            }

            div {
                h4 {
                    font-size: 1rem;
                }

                div {
                    &.footer__container--social-links a {
                        color: map.get(variable.$colores, blanco);
                        transition: color 0.2s ease, transform 0.2s ease;

                        &:hover {
                            color: map.get(variable.$colores, terciario);
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        div {
            &.footer__container--derechos {
                border-top: 1px solid map.get(variable.$colores, blanco);
            }
        }
    }
}