@use "../base/variables" as variable;
@use "../utilities/mixin";
@use "sass:map";

header {
    nav {
        &.header__nav {
            background-color: map.get(variable.$colores, primario);
            --bs-navbar-padding-y: 0;

            &.offcanvas-open .navbar-brand img {
                display: none !important;
            }
        }

        div {
            a {
                img {
                    // height: 24px;
                    @include mixin.size(null, 24px);
                }
            }

            button {
                &.header__nav__navbar-toggler {
                    border: 0;
                    color: map.get(variable.$colores, blanco);

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            div {
                &.header__nav__offcanvas {
                    background-color: map.get(variable.$colores, primario);
                    color: map.get(variable.$colores, blanco);
                }

                div {
                    &.header__nav__offcanvas-header {
                        color: map.get(variable.$colores, blanco);
                    }

                    img {
                        @include mixin.size(null, 24px);
                    }

                    button {
                        &.btn {
                            color: map.get(variable.$colores, blanco);
                            border: 0;

                            &:hover {
                                color: map.get(variable.$colores, terciario);
                            }
                        }
                    }
                }

                div {
                    ul {
                        li {
                            &.header__nav__nav-item {
                                --bs-nav-link-padding-y: 0.8rem;
                            }

                            a {
                                &.header__nav__nav-link {
                                    color: map.get(variable.$colores, blanco);
                                    background-image: linear-gradient(to right, map.get(variable.$colores, secundario) 0%, map.get(variable.$colores, secundario) 100%);
                                    background-size: 0% 100%;
                                    background-repeat: no-repeat;
                                    transition: background-size 0.2s ease-in-out;

                                    &.active {
                                        color: map.get(variable.$colores, terciario) !important;
                                    }

                                    &:hover {
                                        color: map.get(variable.$colores, terciario);
                                        background-size: 100% 100%;
                                        transition: background-size 0.5s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}