.header__nav {
    background-color: var(--color-primario);
    --bs-navbar-padding-y: 0;
}

.header__nav.offcanvas-open .navbar-brand img {
    display: none !important;
}

.header__nav__nav-item {
    --bs-nav-link-padding-y: 0.8rem;
}

.header__nav__nav-link {
    color: var(--color-blanco);
}

.header__nav__nav-link.active {
    color: var(--color-terciario) !important;
}

.header__nav__nav-link:hover {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

.header__nav__navbar-toggler {
    border: 0;
    color: var(--color-blanco);
}

.header__nav__navbar-toggler:focus {
    box-shadow: none;
}

.header__nav__offcanvas {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.header__nav__offcanvas-header {
    color: var(--color-blanco);
}

.header__nav__offcanvas-header .btn {
    color: var(--color-blanco);
    border: 0;
}

.header__nav__offcanvas-header .btn:hover {
    color: var(--color-terciario);
}