@use "../utilities/mixin";

/* sm */
@media(min-width: 576px) {
    main {
        section {
            &.servicios {
                @include mixin.grid(repeat(5, auto), 1fr 1fr, null, null,
                    "social imagen-social"
                    "imagen-branding branding"
                    "audiovisual imagen-audiovisual"
                    "imagen-disenio disenio"
                    "fotografia imagen-fotografia");

                div {
                    h2 {
                        font-size: 1.8rem;
                    }

                    span {
                        font-size: 1.25rem;
                    }

                    ul {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

/* lg */
@media(min-width: 992px) {
    main {
        section {
            &.servicios {
                div {

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(10) {
                        .servicios__card {
                            @include mixin.size(333px, 500px);

                            .servicios__card-inner {
                                .servicios__card-back {
                                    $top: 0;

                                    //Se asigna un valor aleatorio para el tamño de la fuente desde 0.8rem y 2.2rem
                                    //Se posiciona el texto con una diferencia de 2.4rem en el eje Y para que no se sobrepongan
                                    @for $i from 1 to 14 {
                                        span:nth-child(#{$i}) {
                                            top: $top + rem;
                                            @include mixin.random-font-size(0.8, 2.2);
                                        }

                                        $top: $top + 2.4;
                                    }
                                }
                            }
                        }
                    }

                    h2 {
                        font-size: 2rem;
                    }

                    span {
                        font-size: 1.5rem;
                    }

                    ul {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}