/* sm */
@media(min-width: 576px) {
    .inicio__banner-caption>span:nth-child(1) {
        font-size: 1.75rem;
    }

    .inicio__banner-caption>span:nth-child(2) {
        font-size: 1.5rem;
    }

    .inicio__title {
        font-size: 1.5rem;
    }

    .inicio__container-nosotros>span {
        font-size: 1.25rem;
    }

    .inicio__container-servicio-cards>a,
    .inicio__container-portafolio-cards>a {
        width: auto;
    }

    .inicio__container-servicio-cards>a>article {
        width: 230px;
    }

    .inicio__container-portafolio-cards>a>article {
        width: 300px;
    }

    .inicio__container-portafolio-cards>a>article>img {
        height: auto;
    }
}

/* md */
@media(min-width: 768px) {
    .inicio__banner {
        height: 400px;
    }
}

/* lg */
@media(min-width: 992px) {
    .inicio__banner-caption>span:nth-child(1) {
        display: block;
        font-weight: bold;
        font-size: 2rem;
    }

    .inicio__banner-caption>span:nth-child(2) {
        font-size: 1.75rem;
    }
}