@use "../utilities/mixin";

/* sm */
@media(min-width: 576px) {
    main {
        section {
            div {
                div {
                    div {
                        div {
                            span {
                                &:nth-child(1) {
                                    font-size: 1.75rem;
                                }

                                &:nth-child(2) {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }

                // inicio - sección nosotros
                &.inicio__container-nosotros {
                    span {
                        font-size: 1.25rem;
                    }
                }

                // inicio - sección servicios
                &.inicio__container-servicio-cards {
                    a {
                        @include mixin.size(auto, null);

                        article {
                            width: 230px;
                        }
                    }
                }

                &.inicio__container-portafolio-cards {
                    a {
                        width: auto;

                        article {
                            width: 300px;

                            img {
                                height: auto;
                            }
                        }
                    }
                }
            }

            h3 {
                &.inicio__title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

/* md */
@media(min-width: 768px) {
    main {
        section {
            div {
                div {
                    div {
                        img {
                            &.inicio__banner {
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* lg */
@media(min-width: 992px) {

    main {
        section {
            div {
                div {
                    div {
                        div {
                            span {
                                &:nth-child(1) {
                                    font-size: 2rem;
                                }

                                &:nth-child(2) {
                                    font-size: 1.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}