@use "../utilities/mixin";

/* sm */
@media(min-width: 576px) {
    main {
        section {
            &.nosotros__intro {
                @include mixin.grid(auto auto, 1fr 1fr, null, null,
                    "titulo imagen-titulo"
                    "imagen-dedicatoria dedicatoria");
            }

            div {
                &.nosotros__intro--titulo {
                    h2 {
                        font-size: 1.8rem;
                    }

                    span {
                        font-size: 1.25rem;
                    }
                }
            }

            div {
                &.nosotros__intro--dedicatoria {
                    span {
                        font-size: 1.25rem;
                    }
                }
            }
        }

        section {
            h3 {
                &.nosotros__confian--titulo {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

/* md */
@media(min-width: 768px) {
    main {
        section {
            div {
                &.nosotros__logos {
                    img {
                        width: 180px;
                    }
                }
            }
        }
    }
}

/* lg */
@media(min-width: 992px) {

    main {
        section {
            div {
                &.nosotros__intro--titulo {
                    h2 {
                        font-size: 2rem;
                    }

                    span {
                        font-size: 1.5rem;
                    }
                }
            }

            div {
                img {
                    &.nosotros__img--size {
                        width: 333px;
                        height: 500px;
                    }
                }
            }

            div {
                img {
                    &.nosotros__img--size {
                        width: 333px;
                        height: 500px;
                    }
                }
            }

            div {
                &.nosotros__intro--dedicatoria {
                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        section {
            h3 {
                &.nosotros__confian--titulo {
                    font-size: 1.8rem;
                }
            }
        }
    }
}