@use "../utilities/mixin";

/* sm */
@media(min-width: 576px) {
    main {
        section {
            &.servicios {
                // grid-template-columns: 1fr 1fr;
                // grid-template-rows: repeat(5, auto);
                // grid-template-areas:
                //     "social imagen-social"
                //     "imagen-branding branding"
                //     "audiovisual imagen-audiovisual"
                //     "imagen-disenio disenio"
                //     "fotografia imagen-fotografia";

                @include mixin.grid(repeat(5, auto), 1fr 1fr, null, null,
                    "social imagen-social"
                    "imagen-branding branding"
                    "audiovisual imagen-audiovisual"
                    "imagen-disenio disenio"
                    "fotografia imagen-fotografia");
            }

            div {
                h2 {
                    font-size: 1.8rem;
                }

                span {
                    font-size: 1.25rem;
                }

                ul {
                    font-size: 1.25rem;
                }
            }
        }
    }

    // .servicios {
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-rows: repeat(5, auto);
    //     grid-template-areas:
    //         "social imagen-social"
    //         "imagen-branding branding"
    //         "audiovisual imagen-audiovisual"
    //         "imagen-disenio disenio"
    //         "fotografia imagen-fotografia";
    // }

    // .servicios__social h2,
    // .servicios__branding h2,
    // .servicios__audiovisual h2,
    // .servicios__disenio h2,
    // .servicios__fotografia h2 {
    //     font-size: 1.8rem;
    // }

    // .servicios__social span,
    // .servicios__branding span,
    // .servicios__audiovisual span,
    // .servicios__disenio span,
    // .servicios__fotografia span,
    // .servicios__social ul,
    // .servicios__branding ul,
    // .servicios__audiovisual ul,
    // .servicios__disenio ul,
    // .servicios__fotografia ul {
    //     font-size: 1.25rem;
    // }
}

/* lg */
@media(min-width: 992px) {
    main {
        section {
            div {

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(10) {
                    .servicios__card {
                        @include mixin.size(333px, 500px);

                        .servicios__card-inner {
                            .servicios__card-back {
                                $top: 0;

                                @for $i from 1 to 14 {
                                    span:nth-child(#{$i}) {
                                        // position: absolute;
                                        // display: block;
                                        top: $top + rem;
                                        // @include mixin.random-position-left(1, 233 - 120);
                                        @include mixin.random-font-size(0.8, 2.2);
                                        // font-weight: 300;
                                        // text-shadow: 1px 0 10px map.get(variable.$colores, negro-semistransparente);
                                    }

                                    $top: $top + 2.4;
                                }
                            }
                        }
                    }
                }

                // &.servicios__imagen-social {
                //     img {
                //         &.servicios__img--size {
                //             @include mixin.size(333px, 500px);
                //         }
                //     }
                // }

                // &.servicios__imagen-branding {
                //     img {
                //         &.servicios__img--size {
                //             @include mixin.size(333px, 500px);
                //         }
                //     }
                // }

                // &.servicios__imagen-audiovisual {
                //     img {
                //         &.servicios__img--size {
                //             @include mixin.size(333px, 500px);
                //         }
                //     }
                // }

                // &.servicios__imagen-disenio {
                //     img {
                //         &.servicios__img--size {
                //             @include mixin.size(333px, 500px);
                //         }
                //     }
                // }

                // &.servicios__imagen-fotografia {
                //     img {
                //         &.servicios__img--size {
                //             @include mixin.size(333px, 500px);
                //         }
                //     }
                // }

                h2 {
                    font-size: 2rem;
                }

                span {
                    font-size: 1.5rem;
                }

                ul {
                    font-size: 1.5rem;
                }
            }
        }
    }

    // .servicios__img--size {
    //     width: 333px;
    //     height: 500px;
    // }

    // .servicios__social h2,
    // .servicios__branding h2,
    // .servicios__audiovisual h2,
    // .servicios__disenio h2,
    // .servicios__fotografia h2 {
    //     font-size: 2rem;
    // }

    // .servicios__social span,
    // .servicios__branding span,
    // .servicios__audiovisual span,
    // .servicios__disenio span,
    // .servicios__fotografia span,
    // .servicios__social ul,
    // .servicios__branding ul,
    // .servicios__audiovisual ul,
    // .servicios__disenio ul,
    // .servicios__fotografia ul {
    //     font-size: 1.5rem;
    // }
}