@use "../base/variables" as variable;
@use "sass:map";

:root {
    --bs-nav-link-color: #{map.get(variable.$colores, blanco)};
}

body {
    background-color: map.get(variable.$colores, blanco);
    color: map.get(variable.$colores, secundario);
    font-family: "GeneralSans-Regular";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* sirve para ocultar el h1 visualmente, pero mantiene en el DOM */
.clipped {
    border: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: block;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Se extendio bootstrap */
.justify-items-center {
    justify-items: center;
}

.link {
    color: map.get(variable.$colores, secundario);
    font-size: 1rem;
}

.link:hover {
    color: map.get(variable.$colores, terciario);
}