@import url("general-sans.css");

$colores: (
    primario: rgb(200, 41, 37),
    primario-semitransparente: rgba(200, 41, 37, 1),
    secundario: rgb(76, 5, 13),
    terciario: rgb(149, 177, 199),
    fondo: rgb(250, 231, 201),
    blanco: rgb(255, 255, 255),
    negro-semistransparente: rgba(0, 0, 0, 0.5),
    negro-semistransparente-suave: rgba(0, 0, 0, 0.1),
    borde: #ccc
);